@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

.side-bar{
    width: 250px;
    height: 100vh;
    border: 1px solid red;
    padding: 0px 24px !important;
    background: #2a3650;
    color: #ffff !important;
    position: fixed;
}
.side-bar .sidebar-icon{
   justify-content: space-between;
   align-items: center;
   background-color: #2a3650;
   padding: 18px 0px;
}
.side-bar .sidebar-icon i{
    color: #ffff;
    padding: 5px 7px;
   background-color: #374462;
    border-radius: 5px;

}
.side-bar .sidebar-icon i:hover{
    transform: rotate(90deg);
}
.side-bar .pinned h3{
    font-size:14px;
    padding: 4px 12px;
    width: 70px;
    border-radius: 5px;
    background-color:#374462 ;
}
/* charts icons are here */
.chart {
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.chart .dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
